<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
        <title>Profile</title>
    </head>
    <body>
      
      <img src="https://s3-us-west-2.amazonaws.com/cbi-image-service-prd/modified/4b932533-f39d-4037-a4eb-6ace79f652e3.png" class="logo" width="8%" height="15%">
      <div style="height: 300px ">
        <canvas id="myChart" width="500" height="300"></canvas>
      </div>
      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
      <script>
        const labels = {{status_list|safe}}
      
        const data = {
          labels: labels,
          datasets: [{
            label: 'Leads Statistics',
            backgroundColor:  ["red","yellow","blue","green"],
            
        
            borderColor:  [
            'rgba(255, 99, 132, 1)',
            'rgba(54, 162, 235, 1)',
            'rgba(255, 206, 86, 1)',
            'rgba(75, 192, 192, 1)',
            'rgba(153, 102, 255, 1)',
            'rgba(255, 159, 64, 1)'
        ],
            data: {{number_list|safe}},
            borderWidth: 1
          }]
        };
      
        const config = {
          type: 'bar',
          data: data,
          options: { 
            responsive: false,
            
            layout:{
              right:50,
              top:90,
            },
            title:{
              display:true,
              text:"Leads Statistics",
              fontSize:25,
            },
            
           
          },
        };
      </script>
      <script>
        const myChart = new Chart(
          document.getElementById('myChart'),
          config
        );
      </script>

      


    
      
      

     
      
    </body>
</html>